*,
:after,
:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100vh;
}


button,
input {
	width: 100%;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
}

button {
	padding: 1rem 2rem;
	color: hsl(0, 0%, 100%);
	background-color: hsl(234, 29%, 20%);
	border: none;
}

button:hover {
	background-color: hsl(4, 100%, 67%);
}

@media screen and (min-width: 50em) {
	body {
		background-color: hsl(235, 18%, 26%);
	}
}
